df-messenger {
    --df-messenger-bot-message: rgb(80, 185, 255);
    --df-messenger-button-titlebar-color: black;
    --df-messenger-chat-background-color: rgb(255, 255, 255);
    --df-messenger-font-color: rgb(255, 255, 255);
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: rgb(0, 0, 110);
}


header {
    height: 60px;
    text-align: center;
    font-size: x-large;
    color: white;
    margin: 30px;
}

body {
    background: linear-gradient(rgb(80, 185, 255), rgb(50, 110, 220), rgb(0, 0, 110));
}


.center {
text-align: center;
height: auto;
margin: 200px;
display: flex;
justify-content: center;
align-items: center;
}


.left {
position: fixed;
top: 20px;
left: 20px;
}


